.faceUpCards div {
  padding: 10px;
  width: 150px;
  color: white;

  &:first-child {
    border-radius: 5px 5px 0 0;
  }

  &:last-child {
    border-radius: 0 0 5px 5px;
  }
}

.spy {
  background: #00b894;
}

.guard {
  background: #ff7675;
}